.InvoiceDashboard {
  margin: 2.2rem 2rem;
  padding: 1.4rem;
  border-radius: .2rem;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.section-title {
  font-size: 1.8rem;
  text-align: left;
  color: #222944;
}

.section-subheader {
  font-size: 1rem;
  text-align: left;
  color: gray;
}

.table-container {
  
}

.title-add-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.add-button-container {
  margin-left: auto;
}