.SideNav {
  background-color: #272C48;
  color: white;
  padding: 1.2rem 1.5rem;
}

h1 {
  font-weight: 400;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.dashboard-container {
  display: flex;
  align-items: center;
  background-color: #464B62;
  border-radius: .2rem;
  padding: 1rem;
  cursor: pointer;
}

.nav-icon {
  margin-right: .3rem;
  font-size: 1.2rem;
}

.nav-label {
  font-weight: 200;
}