.SideNav {
  background-color: #272C48;
  color: white;
  padding: 1.2rem 1.5rem;
}

h1 {
  font-weight: 400;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.dashboard-container {
  display: flex;
  align-items: center;
  border-radius: .2rem;
  padding: 1rem;
  padding-right: 0;
  cursor: pointer;
}

.active {
  background-color: #464B62;
  margin-bottom: 5rem;
}

.nav-icon {
  margin-right: .6rem;
  font-size: 1.2rem;
}

.nav-label {
  font-weight: 200;
}

.nav-section-label {
  font-weight: 200;
  text-align: left;
  font-size: .8rem;
  margin-bottom: 1rem;
}

.nav-section {
  padding: 1rem;
}

.spread-items {
  justify-content: space-between;
}

.align-horizontal {
  display: flex;
  align-items: center;
}